@import '../../../lib/assets/styles/var';

.action-btn {
  background-color: #fff !important;
  border: 1px solid #bfd7d9 !important;
  margin: 0.5rem 0rem !important;
  &:hover {
    background-color: #fff !important;
  }
  @media (max-width: 768px) {
    padding: 0.5rem 0rem !important;
    margin: 0.5rem 0rem !important;
  }
}

.MuiFormHelperText-contained {
  margin: 0px !important;
  font-family: 'OpenSansRegular' !important;
  letter-spacing: 0.01em !important;
}
