body {
  padding: 20px;
}

/*Vertical Steps*/
.list-group.vertical-steps {
  padding-left: 10px;
}
.list-group.vertical-steps .list-group-item {
  border: none;
  border-left: 3px solid #ece5dd;
  box-sizing: border-box;
  border-radius: 0;
  counter-increment: step-counter;
  padding-left: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-top: 0px;
}
.list-group.vertical-steps .list-group-item.active {
  background-color: transparent;
  color: inherit;
}
.list-group.vertical-steps .list-group-item:last-child {
  border-left: 3px solid transparent;
  padding-bottom: 0;
}
.list-group.vertical-steps .list-group-item::before {
  border-radius: 50%;
  background-color: #fff;
  color: #555;
  content: counter(step-counter);
  display: inline-block;
  height: 25px;
  line-height: 25px;
  margin-left: -35px;
  text-align: center;
  width: 25px;
  border: 2px solid #c4c4c4;
}
.list-group.vertical-steps .list-group-item span,
.list-group.vertical-steps .list-group-item a {
  display: block;
  overflow: hidden;
  padding-top: 2px;
}

/*Active/ Completed States*/
.list-group.vertical-steps .list-group-item.active::before {
  background-color: #fff;
  color: #000;
}
.list-group.vertical-steps .list-group-item.completed {
  border-left: 3px solid #c4c4c4;
}
.list-group.vertical-steps .list-group-item.completed::before {
  color: #000;
}
.list-group.vertical-steps .list-group-item.completed:last-child {
  border-left: 3px solid transparent;
}

li {
  list-style-type: none;
}
